body{
	background-color: #efeff5;	
	
}

table{
	font-size: 15px;
}

*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
    box-sizing: border-box; 
}

/* .content-page{ */
/* 	width:80%; */
/* } */


.jumbotron{
	-webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    background-color: #ffffff;
    padding-top: 30px;
}

.btn.btn-default {
    border: 0;
    background: transparent; 
    color: #5867dd; 
    border: 1px solid #e8ecfa;
    font-weight:bold;
    margin-right: 5px;
}

.btn.btn-default:hover {
    color: #ffffff;
    background: #5d78ff;
    border-color: #5d78ff;
}

.page-title-box .page-title {
	font-family: inherit;
    font-size: 18px;
    margin: 0 0 1rem 0;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #6c757d;
    
}

@media(min-width:992px) {
	
		

	.content-page {
	    margin-left: 20%;
	    overflow: hidden;
	    padding: 5px 50px;
	    min-height: 80vh;
	    width: 80%;
	}
}




